<template name="filterItemFilterAuthors">
    <li class="dropdown cards-filter-element">
        <a href="#" class="dropdown-toggle authorBtn cards-filter-element" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">
            {{#if isActiveRoute regex="learn"}}
                {{_ "set-list.authorPublisher"}}
            {{else}}
                {{#if isActiveRoute regex='repetitorium'}}
                    {{_ "cardset.info.publisher"}}
                {{else}}
                    {{_ "set-list.author"}}
                {{/if}}
            {{/if}}
            {{#if hasAuthorFilter}}
                <i class="fa fa-filter navigationFilterIcon cards-filter-element"></i>
            {{/if}}
        </a>
        <ul class="dropdown-menu cards-filter-element">
            <li class="cards-filter-element">
                <a href="#" class="noFilterAuthor active cards-filter-element" data-id="">{{_ "set-list.everyone"}}</a>
            </li>
            {{#each getAuthors}}
                {{#if filterAuthors this._id}}
                    <li class="cards-filter-element">
                        <a href="#" class="filterAuthor cards-filter-element"
                           data-id="{{this._id}}">{{getAuthorName}}
                            {{#if resultsFilterAuthor this._id}}
                                <i class="fa fa-filter navigationFilterIcon cards-filter-element"></i>
                            {{/if}}
                        </a>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    </li>
</template>
